body{
  font-family: 'font-family: "Helvetica Neue", Helvetica, Arial, sans-serif';
  margin: 0;
  line-height: 1.5;
  padding: 0;
  font-size: 16pt;
  background-color: rgba(121, 196, 150, 0.63);
}
  
h1{
  font-size: 2em;
  text-align: left;
  line-height: 2;
  text-align: center;
  
}
  
h2{
  font-size: 1.5em;
  text-align: left;
  padding: 5px;
}

p{
    padding: 30px;
    text-align: center;
}

.skip a{
    background: rgba(0, 0, 0, 0.63);
    left: 0;
    padding: 6px;
    -webkit-transition: top 0.5s ease-out;
    transition: top 0.5s ease-out;
    z-index: 1;
    color: white;
    position: absolute;
    top: -40px;
}

.skip a:focus {
    top: 0px;
}

header{
  background: rgb(135, 210, 235);
  border: 3px solid #4fdada;
  align-items: center;
}
  
.nav_links{
  display: flex;
  flex-direction: column;
  padding: 0px;
}


.nav_item a{
  color: black;
  text-decoration: none;
  border: 1px solid black;
  display: block;
  text-align: center;
}  

.active a{
    background-color: blue;
    color: white;
    padding: 7.5px;
}

.gallery{
    min-height: 200px;
    /*Your code here again.*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img{
  max-width: 100%;
}

.gallery > img {
    margin: auto;
    max-width: 350px;
    max-height: 300px;
}

footer {
    background: rgb(135, 210, 235);
    text-align: center;
    color: black;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.tech-skills {
  display: flex;
  height: 300px;
  justify-content: space-between;
  align-items: flex-end;
}

.item { 
  width: 14%;
  border: 2px solid black;
  background-color: #50C7C7; 
}

.contact-img {
  max-width: 200px;
  max-height: 200px;
  margin: auto;
}

.contact-img img {
  border: 3px solid black;
}

.resume {
  padding: 10px 0px;
  border: 5px solid black;
  border-style: solid none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 20px;
}

.desc {
  border: 5px solid black;
}

.about-grid {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
}

h2 {
  font-family: 'impact, Charcoal, sans-serif';
  text-align: center;
  text-decoration: underline;
}

.about-page {
  border: 3px solid black;
  padding: 10px;
  
}

.flip-scale-up-ver {
	-webkit-animation: flip-scale-up-ver 0.5s linear forwards;
	        animation: flip-scale-up-ver 0.5s linear forwards;
}

@-webkit-keyframes flip-scale-up-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateY(90deg);
            transform: scale(2.5) rotateY(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(180deg);
            transform: scale(1) rotateY(180deg);
  }
}
@keyframes flip-scale-up-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
            transform: scale(1) rotateY(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateY(90deg);
            transform: scale(2.5) rotateY(90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(180deg);
            transform: scale(1) rotateY(180deg);
  }
}


li {
  padding: 0px;
}

.gall-img {
  opacity: 0.75;
  border: 3px solid rgb(179, 84, 84);
}

.gall-img:hover {
  opacity: 1.0;
  border: 3px solid black;
}

.skill-list {
  list-style-type: decimal;
}

.skills {
  border: 3px solid black;
  padding: 5px;
}

.list-item {
  padding-left: 15px;
}

@media screen and (min-width: 500px){

  .nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav_item{
    width: 200%;
    border: 1px solid black;    
  } 

  .nav_item a {
    border: none;
  }

  .home-pic {
    max-height: 450px;

  }

}

@media screen and (min-width: 900px){

  .nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav_item{
    width: 200%;
    border: 1px solid black;    
  } 

  .nav_item a {
    border: none;
  }

  .home-pic {
    max-height: 600px;

  }

  .about-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  .grid1 {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  /*.intro-pic {
    margin-left: auto;
    margin-right: auto;
  }*/
}